<app-header></app-header>

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img src="../../../assets/images/hero-bg.jpg" alt="" >

      <div class="container position-relative">

        <div class="welcome position-relative"  >
          <h2>WELCOME TO XYZ</h2>
          <h2>XYZ is The Best Pharmaceutical Manufacturing Company in India Certified with an ISO, WHO-GMP, GLP Certifications.</h2>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" >
              <p>
                XYZ Pharma, based at Solan in Himachal, runs a state-of-the-art best pharmaceutical companies in India, certified with WHO-GMP & GLP Standards. Along with Expertise in ethical pharma business, We Promotes top-quality Pharmaceutical Products Globally, Prioritizing Patient welfare and adhering to all regulatory Compliance.
              </p>
             
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
              <div class="row gy-4">

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" >
                    <i class="bi bi-clipboard-data"></i>
                    <h4>Corporis voluptates officia eiusmod</h4>
                    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" >
                    <i class="bi bi-gem"></i>
                    <h4>Ullamco laboris ladore pan</h4>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" >
                    <i class="bi bi-inboxes"></i>
                    <h4>Labore consequatur incidid dolore</h4>
                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                  </div>
                </div><!-- End Icon Box -->

              </div>
            </div>
          </div>
        </div><!-- End  Content-->

      </div>

    </section><!-- /Hero Section -->
    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

        <!-- Section Title -->
       
        <div class="container-fluid" >
  
          <div class="row g-0">
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-1.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-1.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 style="text-align: center;margin-top: 20px">GYNAECOLOGY​</h2>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-2.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-2.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 style="text-align: center;margin-top: 20px">GYNAECOLOGY​</h2>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-3.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-3.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 style="text-align: center;margin-top: 20px">GYNAECOLOGY​</h2>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-4.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-4.jpg" alt="" class="img-fluid">
                </a>
              </div>
              <h2 style="text-align: center;margin-top: 20px;">GYNAECOLOGY​</h2>
            </div><!-- End Gallery Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Gallery Section -->
  

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4 gx-5">

          <div class="col-lg-6 position-relative align-self-start" >
            <img src="../../../assets/images/about.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
          </div>

          <div class="col-lg-6 content">
            <h3>Welcome to Best Pharmaceutical Company in India - Voizmed Pharma</h3>
            <p>
                Voizmed Pharma has embarked its global presence in all Acute and Chronic Segments having a Robust Range Of Pharmaceutical and Nutraceutical  Products with all Latest DCGI and State Approvals. Voizmed Pharma has its Reach Globally in Many Asian, African , CIS and Many European Countries. 
            </p>
         
          </div>

        </div>

      </div>

    </section><!-- /About Section -->
 
    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Why Choose Voizmed Pharma</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" >
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>24/7 Customer Service</h3>
              </a>
              <p>
                Voizmed commits to provide service to its customers for 24/7.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" >
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Top quality management</h3>
              </a>
              <p>
                Voizmed believes that quality is the way of life so we offer qualitied medicines only.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" >
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Robust Range of Brands</h3>
              </a>
              <p>
                In all acute and chronic therapies, Voizmed offers a robust range of pharma medicines.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" >
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Our Subsidiaries</h3>
              </a>
              <p>
                Zoecia Healthcare (Best Neuropsychiatric Products) Hablar Healthcare (Nutraceutical Manufacturing Company)</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->
    
    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

        <!-- Section Title -->
        <div class="container section-title" >
          <h2>Our New Arrivals </h2>
          <p>Introducing our latest additions to the pharmaceutical lineup.
          </p>
        </div><!-- End Section Title -->
  
        <div class="container-fluid" >
  
          <div class="row g-0">
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-1.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-1.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-2.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-2.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-3.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-3.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-4.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-4.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets/images/gallery-5.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets/images/gallery-5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-6.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-6.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-7.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-7.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="../../../assets//images/gallery-8.jpg" class="glightbox" data-gallery="images-gallery">
                  <img src="../../../assets//images/gallery-8.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Gallery Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Gallery Section -->
  
 
    <!-- Departments Section -->
    <section id="departments" class="departments section">

      <!-- Section Title -->
      <div class="container section-title" >
        <h2>Departments</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" >

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Cardiology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Neurology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Hepatology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Pediatrics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Eye Care</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cardiology</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../../../assets/images/departments-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Et blanditiis nemo veritatis excepturi</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../../../assets/images/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../../../assets/images/departments-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../../../assets/images/departments-4.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../../../assets/images/departments-5.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Departments Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" >
            <h3>Testimonials</h3>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>
          </div>

          <div class="col-lg-7" >

            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="../../../assets/images/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="../../../assets/images/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="../../../assets//images/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="../../../assets//images/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="../../../assets//images/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" >
        <h2>Gallery</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container-fluid" >

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../../../assets//images/gallery-1.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="../../../assets//images/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../../../assets//images/gallery-2.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="../../../assets//images/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../../../assets//images/gallery-3.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="../../../assets//images/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../../../assets//images/gallery-4.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="../../../assets//images/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../../../assets/images/gallery-5.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="../../../assets/images/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../../../assets//images/gallery-6.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="../../../assets//images/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../../../assets//images/gallery-7.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="../../../assets//images/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../../../assets//images/gallery-8.jpg" class="glightbox" data-gallery="images-gallery">
                <img src="../../../assets//images/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div><!-- End Gallery Item -->

        </div>

      </div>

    </section><!-- /Gallery Section -->
    <section id="services" class="services section">

    
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-12 col-md-6" >
              <div class="service-item  position-relative">
                <div class="icon">
                  <i class="fas fa-heartbeat"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Looking for Reliable Partner in your Pharma Business ?</h3>
                </a>
                <p>
                    
                    Contact us right away for Assured Quality in Third Party Manufacturing and the best pharmaceutical companies in India.</p>
              </div>
             
            </div><!-- End Service Item -->
            
          
          </div>
  
        </div>
  
      </section><!-- /Services Section -->
      
  
  </main>
