<app-header></app-header>
<div class="container mt-5" style="margin-bottom: 300px;">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white text-center">
        <h2 style="color:#fff">Your Cart</h2>
      </div>
      <div class="card-body">
        <div *ngIf="cartItems.length === 0" class="text-center">Your cart is empty.</div>
        
        <ul class="list-group" *ngIf="cartItems.length > 0">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of cartItems; let i = index">
            <div class="d-flex align-items-center">
              <img [src]="item.image" alt="Product Image" class="cart-img">
              <div class="ms-3">
                <h5 class="mb-1">{{ item.name }}</h5>
                <p class="mb-0">RS {{ item.price  }}</p>
              </div>
            </div>
            <button class="btn btn-danger btn-sm" (click)="removeItem(i)">
              <i class="fas fa-trash"></i> Remove
            </button>
          </li>
        </ul>
      </div>
      <div class="card-footer text-center" *ngIf="cartItems.length > 0">
        <p>Total: 200</p>
        <button class="btn btn-warning" (click)="clearCart()">
          <i class="fas fa-trash-alt"></i> Clear Cart
        </button>
      </div>
    </div>
  </div>