<app-header></app-header>


    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
    
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="text-primary" >
        <div class="bg-holder overlay overlay-white-gradient" style="background-image:url(../../../assets/images/44.jpg);"></div>
        <!--/.bg-holder-->
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <div class="overflow-hidden">
                <h3 data-zanim-xs='{"from":{"x":-400},"to":{"x":0}}'>Medicare Blog</h3>
                <p class="font-weight-bold mb-0" data-zanim-xs='{"delay":0.1,"from":{"x":-400},"to":{"x":0}}'>Center of excellence</p>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5">
              <div class="row">
                <div class="col-sm-5 mb-3 mb-sm-0"><a href="blog-single.html"><img class="img-fluid rounded" src="assets/images/1.jpg" alt="" /></a></div>
                <div class="col pr-4">
                  <h5 class="mb-1"><a href="blog-single.html">Should You Be Worried About Microplastics in Your Food?</a></h5>
                  <p class="font-weight-semi-bold fs--1 mb-2"><a class="text-500 text-sans-serif" href="#!">John Doe</a><span class="fas fa-circle text-500 text-sans-serif" data-fa-transform="shrink-12"></span><a class="text-500 text-sans-serif" href="#!">10 Jan, 2019</a></p>
                  <p class="mb-0">Plastic — it’s in the air, sea and probably your body. Find out what are microplastics doing to your health...</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="row">
                <div class="col-sm-5 mb-3 mb-sm-0"><a href="blog-single.html"><img class="img-fluid rounded" src="assets/images/12.jpg" alt="" /></a></div>
                <div class="col pr-4">
                  <h5 class="mb-1"><a href="blog-single.html">What to Expect During and After a Breast Biopsy</a></h5>
                  <p class="font-weight-semi-bold fs--1 mb-2"><a class="text-500 text-sans-serif" href="#!">Wiliam Petro</a><span class="fas fa-circle text-500 text-sans-serif" data-fa-transform="shrink-12"></span><a class="text-500 text-sans-serif" href="#!">03 Feb, 2019</a></p>
                  <p class="mb-0">We interview Dr Lim Siew Kuan, a general surgeon at Mount Elizabeth Novena Hospital, to understand what to...</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="row">
                <div class="col-sm-5 mb-3 mb-sm-0"><a href="blog-single.html"><img class="img-fluid rounded" src="assets/images/3.jpg" alt="" /></a></div>
                <div class="col pr-4">
                  <h5 class="mb-1"><a href="blog-single.html">How Heart Attack Signs Differ in Men &amp; Women</a></h5>
                  <p class="font-weight-semi-bold fs--1 mb-2"><a class="text-500 text-sans-serif" href="#!">Sultan Sentu</a><span class="fas fa-circle text-500 text-sans-serif" data-fa-transform="shrink-12"></span><a class="text-500 text-sans-serif" href="#!">05 Mar, 2019</a></p>
                  <p class="mb-0">Is there ‘gender equality’ in heart attacks? The short answer is no. Here’s what you need to know...</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="row">
                <div class="col-sm-5 mb-3 mb-sm-0"><a href="blog-single.html"><img class="img-fluid rounded" src="assets/images/4.jpg" alt="" /></a></div>
                <div class="col pr-4">
                  <h5 class="mb-1"><a href="blog-single.html">Prenatal Infections and How to Avoid Them</a></h5>
                  <p class="font-weight-semi-bold fs--1 mb-2"><a class="text-500 text-sans-serif" href="#!">Marry Com</a><span class="fas fa-circle text-500 text-sans-serif" data-fa-transform="shrink-12"></span><a class="text-500 text-sans-serif" href="#!">29 Jun, 2019</a></p>
                  <p class="mb-0">Prenatal infections can interfere with the health of both you and your baby, so it’s important to take steps to prevent them....</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="row">
                <div class="col-sm-5 mb-3 mb-sm-0"><a href="blog-single.html"><img class="img-fluid rounded" src="assets/images/5.jpg" alt="" /></a></div>
                <div class="col pr-4">
                  <h5 class="mb-1"><a href="blog-single.html">What are the Screening Options for Heart Disease?</a></h5>
                  <p class="font-weight-semi-bold fs--1 mb-2"><a class="text-500 text-sans-serif" href="#!">Illiana Daina</a><span class="fas fa-circle text-500 text-sans-serif" data-fa-transform="shrink-12"></span><a class="text-500 text-sans-serif" href="#!">29 Jun, 2019</a></p>
                  <p class="mb-0">We interview Dr Lim Siew Kuan, a general surgeon at Mount Elizabeth Novena Hospital, to understand what to expect...</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-sm-5 mb-3 mb-sm-0"><a href="blog-single.html"><img class="img-fluid rounded" src="assets/images/6.jpg" alt="" /></a></div>
                <div class="col pr-4">
                  <h5 class="mb-1"><a href="blog-single.html">Should You Be Worried About Microplastics?</a></h5>
                  <p class="font-weight-semi-bold fs--1 mb-2"><a class="text-500 text-sans-serif" href="#!">Tom Andrew</a><span class="fas fa-circle text-500 text-sans-serif" data-fa-transform="shrink-12"></span><a class="text-500 text-sans-serif" href="#!">29 Jun, 2019</a></p>
                  <p class="mb-0">Plastic — it’s in the air, sea and probably your body. Find out what are microplastics doing to your health....</p>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
     

    
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

